<div class="container">
  <mat-card  *ngFor="let item of characters">
    <mat-card-header style="height: 80px">
       <mat-card-title>{{ item.name }} </mat-card-title>
      <mat-card-subtitle>{{ item.nickname }}</mat-card-subtitle>
    </mat-card-header>




    <mat-card-content>
      <img
        mat-card-image
        style="height: 200px"
        [src]="item.img"
      />
    </mat-card-content>
    <mat-card-actions align="end">

      <button
        [routerLink]="['/details', item.char_id]"
        color=""
        mat-raised-button
      >
        Details <mat-icon>info</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>


