<div class="container-add">
  <div >
    <h1 class="mat-h1">Edit Character</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>

  <form
    [formGroup]="characterForm"
    (ngSubmit)="submitCharacterForm()"
    novalidate
  >
    <div class="add-form">
      <mat-form-field>
        <input matInput placeholder="Character name" formControlName="name" />
        <mat-error *ngIf="handleError('name', 'required')">
          You must provide a<strong>project name</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="birthday" formControlName="birthday" />
        <mat-error> You must provide a<strong>birthday</strong> </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Image" formControlName="img" />
        <mat-error> You must provide a<strong>image</strong> </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Status" formControlName="status" />
        <mat-error> You must provide a<strong>status</strong> </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Project nickname"
          formControlName="nickname"
        />
        <mat-error> You must provide a<strong>nickname</strong> </mat-error>
      </mat-form-field>
    </div>

    <span style="display: flex; justify-content: end">
      <button
        mat-flat-button
        color="primary"
        [disabled]="characterForm.invalid"
      >
        <mat-icon class="mat-18">save</mat-icon>Save Character
      </button>
    </span>
  </form>
</div>
